:root {
  --md-default-bg-color: rgb(240, 234, 218);
}

.my-image-style {
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.my-image-circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}